a{
    text-decoration: none;
}

.labelText{
    margin-bottom: 5px;
}

.uppercase,
.font-button,
.labelText,
input,
#modalBody select{
    text-transform: uppercase;
    letter-spacing: 1px;
}


.tamanho06{font-size: .6rem;}

.tamanho07,
.labelText
.linhaExerciciosFichasAbertas input{
    font-size: .7rem;
}
#cardCadastroExercicios input,
#cardCadastroCategorias input,
#cardCadastroFichas input,
#campoCadastroTreinos input,
#campoCadastroTreinos select,
#bodyExibicaoDadosCadastrados input,
#listaExibicaoExerciciosCadastrados input,
#listaExibicaoCategoriasCadastrados input{
    font-size: 0.75rem;
}

.tamanho08{
    font-size: .8rem;
}
.tamanho09{
    font-size: .9rem;
}
.tamanho10{
    font-size: 1rem;
}
.tamanho11,
.font-button{
    font-size: 1.1rem;
}
.tamanho12{
    font-size: 1.2rem;
}
.tamanho13{
    font-size: 1.3rem;
}
.tamanho14{
    font-size: 1.4rem;
}
.tamanho15{
    font-size: 1.5rem;
}
.tamanho16{
    font-size: 1.6rem;
}
.tamanho17{
    font-size: 1.7rem;
}
.tamanho18{font-size: 1.8rem;}
.tamanho19{font-size: 1.9rem;}
.tamanho20{font-size: 2rem;}

.flexCenter,
.labelText{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoCenter,
input{
    text-align: center;
}

.buttonHeight4{
    height: 4rem;
}

.bgBlue{
    background-color: #0b5ed7;
}
.colorBlue{
    color: #0b5ed7;
}
.mostradorIdFicha,
.mostradorTrashFichaPrincipal{
    position: absolute;
    top: -15px;
    border-radius: 10px;
    padding: 3px 0;
    font-weight: bold;
}

.mostradorIdFicha{
    right: -7px;
    width: 7rem;
    background-color: lightskyblue;
    color: blue;
}

.mostradorTrashFichaPrincipal{
    left: -7px;
    width: 3rem;
    background-color: lightcoral;
    color: lightgoldenrodyellow;
}
